NEXT_PUBLIC_APP_ENVIRONMENT=local
NEXT_PUBLIC_GRID_AUTH_BASE_URL=https://auth.askloyal.com
NEXT_PUBLIC_FLAGS_MANIFEST_URL=http://localhost:3001/api/flags/frontend-manifest
SOLANA_PRIVATE_KEY=
PHALA_API_KEY=
PHALA_MODEL_ID=
NEXT_PUBLIC_TURNSTILE_SITE_KEY=
NEXT_PUBLIC_JUPITER_API_KEY=
NEXT_PUBLIC_SOLANA_ENV=devnet
SOLANA_MAINNET_RPC_URL=
SOLANA_MAINNET_WEBSOCKET_URL=
SOLANA_DEVNET_RPC_URL=
SOLANA_DEVNET_WEBSOCKET_URL=
NEXT_PUBLIC_SKILLS_ENABLED=true
NEXT_PUBLIC_DEMO_RECIPE=false
